:root {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    color: white;
    --accent: rgb(225, 177, 56);
}

@font-face {
    font-family: 'orbitron';
    src: url("/orbitron.ttf");
}
@font-face {
    font-family: 'comfortaa';
    src: url("/comfortaa.ttf")
}
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

header {
    position: sticky;
    top: 32px;
    width: 70vw;
}

h1 {
    font-family: 'orbitron';
    font-weight: 800;
    font-size: 1.8rem;
}
h2 {
    font-family: 'orbitron';
    font-weight: 200;
    font-size: 1.2rem;
    color: var(--accent);
}
p, ul, ol, a {
    font-family: 'comfortaa';
}
input, label{
    font-family: 'comfortaa';
    font-size: 0.8rem;
}
button {
    font-family: 'orbitron';
}